<div class="row scroll">
  <div class="resp-table">
    <div id="resp-table-header">
      <div class="resp-table-row">
        <div class="table-header-cell" *ngFor="let column of headers">
          {{column.name}}
        </div>
      </div>
    </div>
    <div id="resp-table-body">
      <div class="resp-table-row" *ngFor="let row of rows;let i = index">
        <div class="table-body-cell" *ngFor="let column of headers;let j = index">
          <ng-container [ngTemplateOutlet]="itemTemplate"
                        [ngTemplateOutletContext]="{ $implicit: row, column: column }"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>


