<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4>Employee Details</h4>
    <app-table [data]="data">

      <div app-table-name>
        <form [formGroup]="myForm">
          <app-text-field formControlName="firstname"></app-text-field>
        </form>
      </div>

      <div app-table-date>
        <form [formGroup]="myForm">
          <app-date-field formControlName="startdate"></app-date-field>
        </form>
      </div>

      <div app-table-role>
        <form [formGroup]="myForm">
          <app-reference-field [refControl]="myForm.controls.jobrole"
                               [filteredOptions]="jobRoleOptions" formControlName="jobrole"></app-reference-field>
        </form>
      </div>

      <div app-table-dept>
        <form [formGroup]="myForm">
          <app-reference-field [refControl]="myForm.controls.department"
                               [filteredOptions]="deptOptions" formControlName="department"></app-reference-field>
        </form>
      </div>

      <div app-table-save>
        <app-button  class="button" [buttonName]="'Save'" (click)="updateList(myForm.value)"></app-button>
        <app-button class=" button" [buttonName]="'Cancel'" [primary]=false></app-button>
      </div>

    </app-table>

  </div>
  <div class="col-md-2"></div>
</div>

