<!-- Header Component-->
<app-header></app-header>

<!-- Main Component-->
<app-main></app-main>

<!-- Modal Component-->
<app-modal>
  <div app-modal-header>
    <div class="col-md-11">
      <p>Add User</p>
    </div>
    <div class="col-md-1">
      <span class="glyphicon glyphicon-remove" (click)="close()"></span>
    </div>
  </div>

  <div app-modal-body>
    <form [formGroup]="myForm">
        <label class="col-md-3">Name</label>
          <div class="col-md-8">
            <app-text-field formControlName="firstname" required [textFieldName]="name"></app-text-field>

            <div *ngIf="myForm.controls.firstname.invalid && (myForm.controls.firstname.dirty || myForm.controls.firstname.touched)"
                 class="alert alert-danger">

              <div *ngIf="myForm.controls.firstname.errors?.required">
                Name is required.
              </div>
              <div *ngIf="myForm.controls.firstname.errors?.minlength">
                Name must be at least 4 characters long.
              </div>

            </div>
          </div>

          <label class="col-md-3">Date</label>
          <div class="col-md-8">
            <app-date-field formControlName="startdate" [dateFieldName]="date"></app-date-field>
            <div *ngIf="myForm.controls.startdate.invalid && (myForm.controls.startdate.dirty || myForm.controls.startdate.touched)"
                 class="alert alert-danger">

              <div *ngIf="myForm.controls.startdate.errors?.required">
                startdate is required.
              </div>

            </div>
          </div>

          <label class="col-md-3">Role</label>
          <div class="col-md-8">
            <app-reference-field formControlName="jobrole" [refFieldName]="role"></app-reference-field>
            <div *ngIf="myForm.controls.jobrole.invalid && (myForm.controls.jobrole.dirty || myForm.controls.jobrole.touched)"
                 class="alert alert-danger">

              <div *ngIf="myForm.controls.jobrole.errors?.required">
                jobrole is required.
              </div>
              <div *ngIf="myForm.controls.jobrole.errors?.minlength">
                jobrole must be at least 4 characters long.
              </div>

            </div>
          </div>

          <label class="col-md-3">Department</label>
          <div class="col-md-8">
            <app-reference-field formControlName="department" [refFieldName]="dept"></app-reference-field>
            <div *ngIf="myForm.controls.department.invalid && (myForm.controls.department.dirty || myForm.controls.department.touched)"
                 class="alert alert-danger">

              <div *ngIf="myForm.controls.department.errors?.required">
                department is required.
              </div>
              <div *ngIf="myForm.controls.department.errors?.minlength">
                department must be at least 4 characters long.
              </div>

            </div>
          </div>

    </form>
  </div>

  <div app-modal-footer>
    <div >
      <app-button [primary]=true [enabled]="myForm.invalid" (click)="onSubmit(myForm.value)"></app-button>
      <app-button (click)="close()" [primary]=false></app-button>
    </div>
  </div>

</app-modal>
