<!-- Header Component-->
<app-header></app-header>

<!-- Main Component-->
<app-main></app-main>

<!-- Modal Component-->
<app-modal>
  <div app-modal-header>
    <div class="col-md-11">
      <p>Add User</p>
    </div>
    <div class="col-md-1">
      <span class="glyphicon glyphicon-remove" (click)="close()"></span>
    </div>
  </div>

  <div app-modal-body>
    <form [formGroup]="myForm">
      <label class="col-md-3 caption">Name</label>
      <div class="col-md-8">
        <app-text-field formControlName="firstname" [innerValue]="myForm.controls.firstname.value" required
          [textFieldName]="'Name'"></app-text-field>

        <div
          *ngIf="myForm.controls.firstname.invalid && (myForm.controls.firstname.dirty || myForm.controls.firstname.touched)"
          class="alert alert-danger">

          <div *ngIf="myForm.controls.firstname.errors?.required">
            Name is required.
          </div>
          <div *ngIf="myForm.controls.firstname.errors?.minlength">
            Name must be at least 4 characters long.
          </div>

        </div>
      </div>

      <label class="col-md-3 caption">Date</label>
      <div class="col-md-8">
        <app-date-field formControlName="startdate" [innerValue]="myForm.controls.startdate.value"
          [dateFieldName]="'Start date'"></app-date-field>
        <div
          *ngIf="myForm.controls.startdate.invalid && (myForm.controls.startdate.dirty || myForm.controls.startdate.touched)"
          class="alert alert-danger">

          <div *ngIf="myForm.controls.startdate.errors?.required">
            startdate is required.
          </div>

        </div>
      </div>

      <label class="col-md-3 caption">Role</label>
      <div class="col-md-8">
        <app-reference-field [refControl]="myForm.controls.jobrole" formControlName="jobrole"
          [innerValue]="myForm.controls.jobrole.value" [filteredOptions]="jobOptions" [refFieldName]="'Job role'">
        </app-reference-field>
        <div
          *ngIf="myForm.controls.jobrole.invalid && (myForm.controls.jobrole.dirty || myForm.controls.jobrole.touched)"
          class="alert alert-danger">

          <div *ngIf="myForm.controls.jobrole.errors?.required">
            jobrole is required.
          </div>
          <div *ngIf="myForm.controls.jobrole.errors?.minlength">
            jobrole must be at least 4 characters long.
          </div>

        </div>
      </div>

      <label class="col-md-3 caption">Department</label>
      <div class="col-md-8">
        <app-reference-field [refControl]="myForm.controls.department" formControlName="department"
          [innerValue]="myForm.controls.department.value" [filteredOptions]="departmentOptions"
          [refFieldName]="'Department'"></app-reference-field>
        <div
          *ngIf="myForm.controls.department.invalid && (myForm.controls.department.dirty || myForm.controls.department.touched)"
          class="alert alert-danger">

          <div *ngIf="myForm.controls.department.errors?.required">
            department is required.
          </div>
          <div *ngIf="myForm.controls.department.errors?.minlength">
            department must be at least 4 characters long.
          </div>

        </div>
      </div>

      <label class="col-md-3 caption">Comment</label>
      <div class="col-md-8">
        <app-text-field formControlName="comment" [innerValue]="myForm.controls.comment.value" required
          [textFieldName]="'Comment'"></app-text-field>
        <div
          *ngIf="myForm.controls.comment.invalid && (myForm.controls.comment.dirty || myForm.controls.comment.touched)"
          class="alert alert-danger">
          <div *ngIf="myForm.controls.comment.errors?.required">
            comment is required.
          </div>
        </div>
      </div>

    </form>
  </div>

  <div app-modal-footer>
    <div>
      <app-button [primary]=true [buttonName]="'Add'" [enabled]="myForm.invalid" (click)="onSubmit(myForm.value)">
      </app-button>
      <app-button (click)="close()" [buttonName]="'Cancel'" [primary]=false></app-button>
    </div>
  </div>

</app-modal>