.blue {
  background-color: blue;
  color: white;
  width: 14%;
  margin-right: 25px;
}
.white {
  color: blue;
  background-color: white;

}
.button {
  width: 60px;
  background-color: cornflowerblue;
  margin-left: 13px;
  color: aliceblue;
  margin-top: 5px;
  margin-bottom: 5px;
}
.apply {
  width: 90px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -14px;
}
.clear {
  width: 90px;
  margin-left: -15px;
  margin-top: 10px;
}
